Enforce `host` in PaymentPointer

The current implementation of PaymentPointer allows parses `$https://dev.foo.example.com/someone` to the URL `https://https//dev.foo.example.com/someone` which is not a valid URL.

The PaymentPointer's normalization method should enforce that the [host](https://paymentpointers.org/syntax-resolution/#syntax) portion of a payment pointer conforms to [RFC-3986](https://tools.ietf.org/html/rfc3986#section-3.2), which disallows `:` or `/` in the host.

At the same time, we should likewise ensure that the path component of a PaymentPointer conforms to [section 3.3 of RFC-3986](https://tools.ietf.org/html/rfc3986#section-3.3).